In [23]:
import pandas as pd
import numpy as np

# Batting

In [24]:
df1=pd.read_excel('Datasets/ODI.xlsx')
df1.head()

,Player ID,Player,Span,Matches,Innings,NO,Runs,HS,Avg,BF,SR,100,50,0
0,35320,SR Tendulkar,1989-2012,463,452,41,18426,200*,44.83,21368,86.23,49,96,20
1,253802,V Kohli,2008-2025,298,286,44,1480,183,57.78,14967,93.43,50,73,16
2,28779,SC Ganguly,1992-2007,308,297,23,11221,183,40.95,15235,73.65,22,71,16
3,34102,RG Sharma,2007-2025,269,261,36,11029,264,49.01,11890,92.75,32,57,16
4,28114,R Dravid,1996-2011,340,314,39,10768,153,39.15,15127,71.18,12,82,13

In [25]:
df1.drop(['Player','HS','BF'],axis=1,inplace=True)

In [26]:
df1.drop(['Span','NO','0'],axis=1,inplace=True)

In [27]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259 entries, 0 to 258
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Player ID  259 non-null    int64
 1   Matches    259 non-null    int64
 2   Innings    259 non-null    object
 3   Runs       259 non-null    object
 4   Avg        259 non-null    object
 5   SR         259 non-null    object
 6   100        259 non-null    object
 7   50         259 non-null    object
dtypes: int64(2), object(6)
memory usage: 16.3+ KB

In [28]:
df1.replace('-',np.nan,inplace=True)

In [29]:
df1.columns

Index(['Player ID', 'Matches', 'Innings', 'Runs', 'Avg', 'SR', '100', '50'], dtype='object')

In [30]:
df1['SR']=pd.to_numeric(df1['SR'],errors='coerce')
df1['Runs']=pd.to_numeric(df1['Runs'],errors='coerce').astype('Int64')
df1['Avg']=pd.to_numeric(df1['Avg'],errors='coerce')
df1['100']=pd.to_numeric(df1['100'],errors='coerce').astype('Int64')
df1['50']=pd.to_numeric(df1['50'],errors='coerce').astype('Int64')

In [31]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259 entries, 0 to 258
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Player ID  259 non-null    int64
 1   Matches    259 non-null    int64
 2   Innings    249 non-null    object
 3   Runs       249 non-null    Int64
 4   Avg        230 non-null    float64
 5   SR         246 non-null    float64
 6   100        249 non-null    Int64
 7   50         249 non-null    Int64
dtypes: Int64(3), float64(2), int64(2), object(1)
memory usage: 17.1+ KB

# Bowling

In [32]:
df2=pd.read_excel('Datasets/ODI.xlsx',sheet_name='Bowling')
df2.head()

,Player ID,Player,Span,Matches,Innings,Balls,Runs,Wkts,BBI,Avg,Econ,SR,4,5
0,30176,A Kumble,1990-2007,269,263,14376,10300,334,6/12,30.83,4.29,43.0,8,2
1,34105,J Srinath,1991-2003,229,227,11935,8847,315,5/23,28.08,4.44,37.8,7,3
2,26184,AB Agarkar,1998-2007,191,188,9484,8021,288,6/42,27.85,5.07,32.9,10,2
3,30102,Z Khan,2000-2012,194,191,9815,8102,269,5/42,30.11,4.95,36.4,7,1
4,29264,Harbhajan Singh,1998-2015,234,225,12359,8872,265,5/31,33.47,4.30,46.6,2,3

In [33]:
df2.drop(['Player','Balls','Span','Runs','BBI'],axis=1,inplace=True)

df2.info()

In [34]:
df2['Wkts']=pd.to_numeric(df2['Wkts'],errors='coerce').astype('Int64')
df2['Avg']=pd.to_numeric(df2['Avg'],errors='coerce')
df2['Econ']=pd.to_numeric(df2['Econ'],errors='coerce')
df2['SR']=pd.to_numeric(df2['SR'],errors='coerce')
df2['5']=pd.to_numeric(df2['5'],errors='coerce').astype('Int64')
df2['4']=pd.to_numeric(df2['4'],errors='coerce').astype('Int64')

In [35]:
df2.replace('-',np.nan,inplace=True)

In [36]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259 entries, 0 to 258
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Player ID  259 non-null    int64
 1   Matches    259 non-null    int64
 2   Innings    196 non-null    object
 3   Wkts       196 non-null    Int64
 4   Avg        172 non-null    float64
 5   Econ       196 non-null    float64
 6   SR         172 non-null    float64
 7   4          196 non-null    Int64
 8   5          196 non-null    Int64
dtypes: Int64(3), float64(3), int64(2), object(1)
memory usage: 19.1+ KB

# Fielding

In [37]:
df3=pd.read_excel('Datasets/ODI.xlsx',sheet_name='Fielding')
df3.head()

,Player ID,Player,Span,Matches,Innings,Dismissals,Catches,Stumps,Ct Wk,Ct Fi,MD,D/I
0,28081,MS Dhoni,2004-2019,347,342,438,318,120,318,0,6 (5ct 1st),1.280
1,28114,R Dravid,1996-2011,340,337,210,196,14,72,124,4 (4ct 0st),0.623
2,26329,M Azharuddin,1985-2000,334,332,156,156,0,0,156,4 (4ct 0st),0.469
3,253802,V Kohli,2008-2025,298,295,156,156,0,0,156,3 (3ct 0st),0.528
4,31036,NR Mongia,1994-2000,140,139,154,110,44,110,0,5 (4ct 1st),1.107

In [38]:
df3.drop(['Player','Innings','MD','Span','Innings'],axis=1,inplace=True)

In [39]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259 entries, 0 to 258
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Player ID   259 non-null    int64
 1   Matches     259 non-null    int64
 2   Dismissals  259 non-null    int64
 3   Catches     259 non-null    int64
 4   Stumps      259 non-null    int64
 5   Ct Wk       259 non-null    int64
 6   Ct Fi       259 non-null    int64
 7   D/I         259 non-null    float64
dtypes: float64(1), int64(7)
memory usage: 16.3 KB

In [40]:
df3.replace('-',np.nan,inplace=True)

In [41]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259 entries, 0 to 258
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Player ID   259 non-null    int64
 1   Matches     259 non-null    int64
 2   Dismissals  259 non-null    int64
 3   Catches     259 non-null    int64
 4   Stumps      259 non-null    int64
 5   Ct Wk       259 non-null    int64
 6   Ct Fi       259 non-null    int64
 7   D/I         259 non-null    float64
dtypes: float64(1), int64(7)
memory usage: 16.3 KB

In [42]:
df1.dropna(inplace=True)

In [43]:
df2.dropna(inplace=True)
df3.dropna(inplace=True)

In [44]:
with pd.ExcelWriter("Cleaned_datasets/ODI.xlsx") as writer:
    df1.to_excel(writer, sheet_name="Batting",index=False)
    df2.to_excel(writer, sheet_name="Bowling", index=False)
    df3.to_excel(writer, sheet_name="Fielding", index=False)