In [47]:
import pandas as pd
import numpy as np

# Batting in Test

In [56]:
df1=pd.read_excel('Test.xlsx')
df1.head()

,Player ID,Player,Span,Matches,Innings,NO,Runs,HS,Avg,100,50,0
0,35320,SR Tendulkar,1989-2013,200,329,33,15921,248*,53.78,51,68,14
1,28114,R Dravid,1996-2012,163,284,32,13265,270,52.63,36,63,7
2,28794,SM Gavaskar,1971-1987,125,214,16,10122,236*,51.12,34,45,12
3,253802,V Kohli,2011-2025,123,210,13,9230,254*,46.85,30,31,15
4,30750,VVS Laxman,1996-2012,134,225,34,8781,281,45.97,17,56,14

In [67]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 316 entries, 35320 to 34189
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Player   316 non-null    object
 1   Matches  316 non-null    int64
 2   Innings  312 non-null    Int64
 3   NO       312 non-null    object
 4   Runs     312 non-null    object
 5   Avg      301 non-null    object
 6   100      312 non-null    object
 7   50       312 non-null    object
 8   0        312 non-null    object
dtypes: Int64(1), int64(1), object(7)
memory usage: 25.0+ KB

In [63]:
df1.set_index('Player ID',inplace=True)

In [64]:
df1.drop(['HS','Span'],axis=1,inplace=True)

In [85]:
df1.drop('Player',axis=1,inplace=True)

In [65]:
df1['Matches'].astype(int)

Player ID
35320     200
28114     163
28794     125
253802    123
30750     134
         ...
35657       1
27988       1
33027       1
34020       1
34189       1
Name: Matches, Length: 316, dtype: int32

In [77]:
df1.replace('-',np.nan,inplace=True)
df1.tail(20)

,Player,Matches,Innings,NO,Runs,Avg,100,50,0
Player ID,,,,,,,,,
30151,RR Kulkarni,3,2,0,2,1.0,0,0,1
30908,ES Maka,2,1,1,2,NaN,0,0,0
34214,RL Sanghvi,1,2,0,2,1.0,0,0,1
35313,KK Tarapore,1,1,0,2,2.0,0,0,0
31872,S Nadeem,2,3,1,1,0.5,0,0,2
802575,T Natarajan,1,1,1,1,NaN,0,0,0
32207,DD Parsana,2,2,0,1,0.5,0,0,1
33068,L Ramji,1,2,0,1,0.5,0,0,1
26849,SA Banerjee,1,1,0,0,0.0,0,0,1
30970,KR Meherhomji,1,1,1,0,NaN,0,0,0
31025,DS Mohanty,2,1,1,0,NaN,0,0,0
926851,Mukesh Kumar,3,4,3,0,0.0,0,0,1
32249,RGM Patel,1,2,0,0,0.0,0,0,2
33891,TAP Sekhar,2,1,1,0,NaN,0,0,0
34060,R Singh,1,1,0,0,0.0,0,0,1
35657,M Venkataramana,1,2,2,0,NaN,0,0,0
27988,HT Dani,1,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,<NA>
33027,V Rajindernath,1,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,<NA>
34020,RC Shukla,1,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,<NA>
34189,VN Swamy,1,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,<NA>

In [68]:
df1.columns

Index(['Player', 'Matches', 'Innings', 'NO', 'Runs', 'Avg', '100', '50', '0'], dtype='object')

In [70]:
df1['Innings']=pd.to_numeric(df1['Innings'],errors='coerce').astype('Int64')

In [71]:
df1['NO']=pd.to_numeric(df1['NO'],errors='coerce').astype('Int64')
df1['Runs']=pd.to_numeric(df1['Runs'],errors='coerce').astype('Int64')
df1['Avg']=pd.to_numeric(df1['Avg'],errors='coerce')
df1['100']=pd.to_numeric(df1['100'],errors='coerce').astype('Int64')
df1['50']=pd.to_numeric(df1['50'],errors='coerce').astype('Int64')
df1['0']=pd.to_numeric(df1['0'],errors='coerce').astype('Int64')

In [72]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 316 entries, 35320 to 34189
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Player   316 non-null    object
 1   Matches  316 non-null    int64
 2   Innings  312 non-null    Int64
 3   NO       312 non-null    Int64
 4   Runs     312 non-null    Int64
 5   Avg      301 non-null    float64
 6   100      312 non-null    Int64
 7   50       312 non-null    Int64
 8   0        312 non-null    Int64
dtypes: Int64(6), float64(1), int64(1), object(1)
memory usage: 26.5+ KB

In [76]:
df1.isna().sum()

Player      0
Matches     0
Innings     4
NO          4
Runs        4
Avg        15
100         4
50          4
0           4
dtype: int64

In [80]:
df1.dropna(inplace=True)

In [91]:
df1.isna().sum()

Matches    0
Innings    0
NO         0
Runs       0
Avg        0
100        0
50         0
0          0
dtype: int64

# Bowling in Test

In [83]:
df2=pd.read_excel('Test.xlsx',sheet_name='Bowling')
df2.head()

,Player ID,Player,Span,Matches,Innings,Balls,Runs,Wkts,BBI,BBM,Avg,Econ,SR,5,10
0,30176,A Kumble,1990-2008,132,236,40850,18355,619,10/74,14/149,29.65,2.69,65.9,35,8
1,26421,R Ashwin,2011-2024,106,200,27246,12891,537,7/59,13/140,24.00,2.83,50.7,37,8
2,30028,N Kapil Dev,1978-1994,131,227,27740,12867,434,9/83,11/146,29.64,2.78,63.9,23,2
3,29264,Harbhajan Singh,1998-2015,103,190,28580,13537,417,8/84,15/217,32.46,2.84,68.5,25,5
4,234675,RA Jadeja,2012-2025,80,150,18473,7798,323,7/42,10/110,24.14,2.53,57.1,15,3

In [89]:
df2.drop(['Span','Balls','Runs','BBI','BBM','Player'],axis=1,inplace=True)

In [90]:
df2.columns

Index(['Player ID', 'Matches', 'Innings', 'Wkts', 'Avg', 'Econ', 'SR', '5',
       '10'],
      dtype='object')

In [92]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316 entries, 0 to 315
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Player ID  316 non-null    int64
 1   Matches    316 non-null    int64
 2   Innings    316 non-null    object
 3   Wkts       316 non-null    object
 4   Avg        316 non-null    object
 5   Econ       316 non-null    object
 6   SR         316 non-null    object
 7   5          316 non-null    object
 8   10         316 non-null    object
dtypes: int64(2), object(7)
memory usage: 22.3+ KB

In [94]:
df2.replace('-',np.nan,inplace=True)

In [95]:
df2['Innings']=pd.to_numeric(df2['Innings'],errors='coerce').astype('Int64')
df2['Wkts']=pd.to_numeric(df2['Wkts'],errors='coerce').astype('Int64')
df2['Avg']=pd.to_numeric(df2['Avg'],errors='coerce')
df2['Econ']=pd.to_numeric(df2['Econ'],errors='coerce')
df2['SR']=pd.to_numeric(df2['SR'],errors='coerce')
df2['5']=pd.to_numeric(df2['5'],errors='coerce').astype('Int64')
df2['10']=pd.to_numeric(df2['10'],errors='coerce').astype('Int64')

In [97]:
df2.dropna(inplace=True)

In [98]:
df2.isna().sum()

Player ID    0
Matches      0
Innings      0
Wkts         0
Avg          0
Econ         0
SR           0
5            0
10           0
dtype: int64

# Fieling in Test

In [99]:
df3=pd.read_excel('Test.xlsx',sheet_name='Fielding')
df3.head()

,Player ID,Player,Span,Matches,Innings,Dismissial,Catches,Stumps,keeping,fielding,MD,D/I
0,28081,MS Dhoni,2005-2014,90,166,294,256,38,256,0,6 (6ct 0st),1.771
1,28114,R Dravid,1996-2012,163,299,209,209,0,0,209,3 (3ct 0st),0.698
2,30116,SMH Kirmani,1976-1986,88,151,198,160,38,160,0,6 (5ct 1st),1.311
3,931581,RR Pant,2018-2025,43,85,164,149,15,149,0,6 (6ct 0st),1.929
4,30750,VVS Laxman,1996-2012,134,248,135,135,0,0,135,4 (4ct 0st),0.544

In [100]:
df3.drop(['Player','Span','MD'],axis=1,inplace=True)

In [103]:
df3.isna().sum()

Player ID     0
Matches       0
Innings       0
Dismissial    0
Catches       0
Stumps        0
keeping       0
fielding      0
D/I           0
dtype: int64

# All round in Test

In [106]:
df4=pd.read_excel('Test.xlsx',sheet_name='Allround')
df4.head()

,Player ID,Player,Span,Matches,Runs,HS,Bat Avg,100,Wkts,BBI,Bowl Avg,5,Catches,Stumps,Score
0,35320,SR Tendulkar,1989-2013,200,15921,248*,53.78,51,46,3/10,54.17,0,115,0,-0.38
1,28114,R Dravid,1996-2012,163,13265,270,52.63,36,1,1/18,39.00,0,209,0,13.63
2,28794,SM Gavaskar,1971-1987,125,10122,236*,51.12,34,1,1/34,206.00,0,108,0,-154.87
3,253802,V Kohli,2011-2025,123,9230,254*,46.85,30,0,-,-,0,121,0,-
4,30750,VVS Laxman,1996-2012,134,8781,281,45.97,17,2,1/2,63.00,0,135,0,-17.02

In [107]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316 entries, 0 to 315
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Player ID  316 non-null    int64
 1   Player     316 non-null    object
 2   Span       316 non-null    object
 3   Matches    316 non-null    int64
 4   Runs       316 non-null    object
 5   HS         316 non-null    object
 6   Bat Avg    316 non-null    object
 7   100        316 non-null    object
 8   Wkts       316 non-null    object
 9   BBI        316 non-null    object
 10  Bowl Avg   316 non-null    object
 11  5          316 non-null    object
 12  Catches    316 non-null    int64
 13  Stumps     316 non-null    int64
 14  Score      316 non-null    object
dtypes: int64(4), object(11)
memory usage: 37.2+ KB

In [112]:
df4.replace('-',np.nan,inplace=True)

In [115]:
df4['Score']=pd.to_numeric(df4['Score'],errors='coerce')

In [125]:
df4.dropna(inplace=True)

In [126]:
df5=df4[['Player ID','Score']]

In [127]:
df5.columns

Index(['Player ID', 'Score'], dtype='object')

In [122]:
df3.columns

Index(['Player ID', 'Matches', 'Innings', 'Dismissial', 'Catches', 'Stumps',
       'keeping', 'fielding', 'D/I'],
      dtype='object')

In [120]:
df1.columns

Index(['Matches', 'Innings', 'NO', 'Runs', 'Avg', '100', '50', '0'], dtype='object')

In [121]:
df2.columns

Index(['Player ID', 'Matches', 'Innings', 'Wkts', 'Avg', 'Econ', 'SR', '5',
       '10'],
      dtype='object')

In [128]:
with pd.ExcelWriter("final_Test.xlsx") as writer:
    df1.to_excel(writer, sheet_name="Batting",)
    df2.to_excel(writer, sheet_name="Bowling", index=False)
    df3.to_excel(writer, sheet_name="Fielding", index=False)
    df5.to_excel(writer, sheet_name="Allround", index=False)